/*****************************************
START CSS RESET
*****************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************
END CSS RESET
*****************************************/

:root {
  --lightYellowColor: #ffef00;
  --darkYellowColor: #efb701;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --lightGrayColor: #cacaca;
  --lightRedColor: #ff003c;
  --darkRedColor: #800000;
  --lightTealColor: #00f1ff;
  --darkTealColor: #001417;
}

@font-face {
  font-family: "BlenderProBold";
  src: url("/assets/font/BlenderPro-Book.woff2"),
    url("/assets/font/BlenderPro-Bold.woff"),
    url("/assets/font/Blender-Pro-Bold.otf");
  font-display: fallback;
}

body,
html {
  margin: 0 auto;
  text-align: center;
  background-color: var(--blackColor);
  max-width: 1920px;
}

body,
input,
textarea,
button {
  font-family: "BlenderProBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1875em;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .mainHeaderSection {
    max-width: 90%;
    margin: 0 auto 0 auto;
  }
  .mainHeaderSection h1 {
    text-align: center;
  }

  .mainHeaderSection a {
    text-decoration: none;
  }

  .qrHeader {
    font-size: 2em;
    font-weight: 700;
    margin: 0em auto 0.5em auto;
    padding: 0.2em;
    /* background: linear-gradient(225deg, transparent 5%, var(--blackColor) 5%); */
    background-color: var(--lightYellowColor);
    color: var(--blackColor);
  }

  .mainFormSection {
    max-width: 90%;
    margin: auto;
  }

  .inputField {
    min-width: 100%;
    resize: none;
    border: 1px solid var(--lightTealColor);
    background-color: var(--darkTealColor);
    color: var(--whiteColor);
    outline: none;
    min-height: 100px;
    box-sizing: border-box;
    padding: 0.5em;
  }

  .counterDiv {
    background-color: var(--lightYellowColor);
    color: var(--blackColor);
    float: right;
    font-size: 1em;
  }

  .countLessThan {
    background: var(--lightYellowColor);
    color: var(--blackColor);
  }
  .countMoreThan {
    background: var(--lightRedColor);
    color: var(--whiteColor);
  }

  .qrColorsDiv {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    color: var(--lightGrayColor);
  }

  .submitBtn {
    width: 8em;
    height: 2em;
    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(45deg, transparent 5%, var(--lightRedColor) 5%);
    border: 0;
    color: var(--whiteColor);
    box-shadow: 3px 0px 0px var(--lightTealColor);
    outline: transparent;
    position: relative;
    display: block;
    margin: 1em auto;
  }

  img[src=""] {
    display: none;
  }

  .qrImageSection img {
    height: auto;
    width: 50%;
    margin: 1em auto;
    box-sizing: border-box;
    border: 30px solid var(--lightYellowColor);
    border-left: 5px solid var(--lightYellowColor);
    border-right: 5px solid var(--lightYellowColor);
    border-bottom: 15px solid var(--lightYellowColor);
    clip-path: polygon(
      0px 25px,
      26px 0px,
      calc(60% - 25px) 0px,
      60% 25px,
      100% 25px,
      100% calc(100% - 10px),
      calc(100% - 15px) calc(100% - 10px),
      calc(80% - 10px) calc(100% - 10px),
      calc(80% - 15px) calc(100% - 0px),
      10px calc(100% - 0px),
      0% calc(100% - 10px)
    );
  }

  .qrReplacement {
    display: flex;
    justify-content: center;
    margin: 1.25em auto;
    color: var(--lightYellowColor);
    font-size: 1.5em;
    font-weight: 300;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    51% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .qrImageSection img {
    min-width: 50%;
    max-width: 50%;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .qrImageSection img {
    min-width: 40%;
    max-width: 40%;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .qrImageSection img {
    min-width: 30%;
    max-width: 30%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .qrImageSection img {
    min-width: 30%;
    max-width: 30%;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .qrImageSection img {
    min-width: 30%;
    max-width: 30%;
  }
}
