/* START CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */

/* UI COLORS */

:root {
  --darkBGColor: #121212;
  --surfaceColor: #1f1f1f;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --grayColor: #3f3f3f;
  --primaryColor: #bb86fc;
  --primaryVariant: #3700b3;
  --secondaryColor: #03dac6;
  --secondaryVariant: #018786;
  --errorColor: #cf6679;
}

/* Fonts */

@font-face {
  font-family: "BlenderProBold";
  src: url("/assets/font/BlenderPro-Book.woff2"),
    url("/assets/font/BlenderPro-Bold.woff"),
    url("/assets/font/Blender-Pro-Bold.otf");
  font-display: fallback;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body,
html {
  margin: 0 auto;
  text-align: center;
  background-color: var(--darkBGColor);
}

body,
input,
textarea,
button {
  font-family: "BlenderProBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1875em;
}

@media (min-width: 320px) {

  /* smartphones, iPhone, portrait 480x320 phones */
  .mainHeaderSection {
    max-width: 100%;
    margin: 0 auto;
  }

  .mainHeaderSection h1 {
    text-align: center;
  }

  .mainHeaderSection a {
    text-decoration: none;
  }

  .qrHeader {
    font-size: 1.25em;
    font-weight: 700;
    margin: 0em auto 0.5em auto;
    padding: 0.75em 0;
    background-color: var(--surfaceColor);
    color: var(--whiteColor);
    border-bottom: solid 1px var(--grayColor);
  }

  .mainFormSection,
  .modSection {
    max-width: 90%;
    margin: auto;
    padding: 1em;
    background-color: var(--surfaceColor);
  }

  .tabButtons {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /*  Remove scroll bar but still scrollable*/
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
  }

  .tabButtons::-webkit-scrollbar {
    /*  Remove scroll bar but still scrollable*/
    display: none;
    /* Safari and Chrome */
  }

  .tButton {
    float: left;
    background-color: var(--darkBGColor);
    color: var(--whiteColor);
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 0.75em;
    text-align: center;
    width: 100%;
  }

  .tabButtons::after {
    content: "";
    clear: both;
    display: table;
  }

  .tButton:nth-child(n + 2) {
    margin-left: -1px;
  }

  .tabButtons svg {
    display: block;
    margin: 0 auto;
  }

  input,
  textarea,
  select {
    border: none;
    background-color: var(--darkBGColor);
    color: var(--whiteColor);
    outline: none;
    box-sizing: border-box;
    padding: 0.5em;
    border: solid 1px var(--grayColor);
  }

  select option:disabled {
    display: none;
  }

  .vcardQR {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    gap: 1.5em;
    grid-template-areas: ".""."".";
  }

  .urlInput,
  .phoneNumber,
  .emailAddress,
  .subject,
  .phone,
  .cryptoAddress,
  .cryptoAmount,
  .cryptoList,
  .wifiInput,
  .wifiPasswordInput,
  .wifiEncryption {
    margin: 1em auto;
    width: 100%;
    border-radius: 5px;
  }

  .textInput,
  .messageToSend,
  .emailToSend,
  .cryptoMessage {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
  }

  .counterDiv {
    background-color: var(--darkBGColor);
    color: var(--whiteColor);
    float: left;
    padding: 0.2em;
    font-size: 1em;
    text-align: center;
    border: solid 1px var(--grayColor);
    margin-top: -2px;
  }

  .countLessThan {
    background: var(--darkBGColor);
    color: var(--whiteColor);
  }

  .countMoreThan {
    background: var(--errorColor);
    color: var(--whiteColor);
  }

  .qrColorsDiv {
    margin: 0em auto 4em auto;
    color: var(--whiteColor);
  }

  .qrColorsDiv div {
    border-bottom: 1px solid var(--grayColor);
    width: 100%;
  }

  .qrColorsDiv label {
    position: relative;
    display: block;
    clear: both;
    margin: 0 auto;
    text-align: left;
    border-top: 1px solid var(--grayColor);
  }

  input[type="color"] {
    width: 3em;
    height: 3em;
    border: none;
    background: none;
    float: left;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: solid 1px transparent;
    /*change color of the swatch border here*/
  }

  .slideDiv {
    width: 100%;
  }

  .slideDiv p,
  span {
    color: var(--whiteColor);
    text-align: left;
  }

  input[type=range] {
    height: 0px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    background: var(--grayColor);
    border-radius: 1px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--whiteColor);
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--grayColor);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: var(--grayColor);
    border-radius: 1px;

  }

  input[type=range]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--whiteColor);
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: var(--grayColor);
    border-radius: 2px;
  }

  input[type=range]::-ms-fill-upper {
    background: var(--grayColor);
    border-radius: 2px;
  }

  input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--whiteColor);
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: var(--grayColor);
  }

  input[type=range]:focus::-ms-fill-upper {
    background: var(--grayColor);
  }


  img[src=""] {
    display: none;
  }

  .qrImageSection {
    margin: 2em auto;
  }

  .qrImgDownload {
    text-decoration: none;
    background-color: var(--whiteColor);
    color: var(--surfaceColor);
    width: 90%;
    margin: 1em auto 3em auto;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 5px;
  }

  .qrImgDownload:hover {
    background-color: var(--grayColor);
    color: var(--whiteColor);
  }

  .qrImg {
    display: block;
    height: auto;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

@media (min-width: 481px) {

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .qrImageSection img,
  .qrImgDownload {
    width: 60%;
  }
}

@media (min-width: 641px) {

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .qrImageSection img,
  .qrImgDownload {
    width: 40%;
  }

  .vcardQR {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    grid-template-areas: ".""."".";
  }

  .tabButtons {
    justify-content: center;
  }
}

@media (min-width: 961px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .qrImageSection img,
  .qrImgDownload {
    width: 30%;
  }

  .vcardQR {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5em;
    grid-template-areas: ". . ."". . ."". . .";
  }

  .qrColorsDiv div {
    width: 25%;
  }

  .slideDiv {
    width: 50%;
  }
}

@media (min-width: 1025px) {

  /* big landscape tablets, laptops, and desktops */
  .qrImageSection img,
  .qrImgDownload {
    width: 25%;
  }

  .mainFormSection,
  .tabButtons,
  .modSection {
    max-width: 75%;
  }
}

@media (min-width: 1281px) {

  /* hi-res laptops and desktops */
  .mainFormSection,
  .tabButtons,
  .modSection {
    max-width: 70%;
  }

  .qrHeader {
    font-size: 1.75em;
    padding: 0.5em 0;
  }


}