<% var src; %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/assets/image/favicon.gif">
  <link rel='stylesheet' href='/css/styles.css' /> 
  <title>QR Code Generator</title>
</head>

<body>
  <main class="main-content" id="main-content">
    <section class="main-header-section">
      <a href="https://simpleqrgen.com/"><h1 class="qrHeader">QR Code Generator</h1></a>
    </section>
    <section class="main-form-section">
      <form action="/" method="post">
        <div class="inputFieldDiv">
        <textarea type="text" name="input" id="inputField" class="inputField" required="inputField" placeholder="Enter something..." maxlength="1200"></textarea>
        <span id="count" class="counter"></span>
      </div>
        <button type="submit" class="submitBtn" id="submitBtn" name="submitBtn">
          <span class="submitBtnContent">Generate</span>
          <span class="submitBtnGlitch"></span>
        </button>
      </form>
    </section>
    <section class="qr-image-section" id="qr-image-section">
      <img src="<%=src%>" />
      <div id="qrReplacement" class="qrReplacement">Waiting for input<div id="innerP">_</div></div>
    </section>
  </main>
  <footer></footer>
  <script>
    const textarea = document.getElementById('inputField');
    const length = textarea.getAttribute("maxlength");
    const count = document.getElementById('count');
    count.innerHTML = length;
    textarea.onkeyup = function () {
    count.innerHTML = (length - this.value.length);
    };

    const images = document.querySelectorAll('img');
    const div = document.getElementById("qrReplacement")
    const p = document.getElementById("innerP");
    images.forEach((image) => {
      let src = image.getAttribute('src');
      if(src === ''){
        p.style.animation = "blink 1s infinite linear";
      }else{
        div.style.display = "none";
      }
    });
  </script>
</body>

</html>