<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PN9F632');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="default-src * https://simpleqrgen.com;
    script-src * 'unsafe-eval' 'unsafe-inline';
    style-src 'self' 'unsafe-inline';
    img-src 'self' https://simpleqrgen.com data:" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="”robots”" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Online QR Code Generator. Create QR Codes for text, URL, vCard, SMS, WiFi and more. Download QR Codes in high quality resolution.">
    <meta name="title" content="Free Online QR Code Generator">
    <meta name="keywords" content="qr, quick response, qr code, qr code generator, qr generator, generator, url, sms, wifi, vcard, text">
    <meta name="language" content="English">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png" />
    <link rel="manifest" href="/assets/image/site.webmanifest" />
    <link rel="mask-icon" href="/assets/image/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>QR Code Generator</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN9F632"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main class="mainContent" id="mainContent">
        <section class="mainHeaderSection">
            <a href="https://www.simpleqrgen.com/">
                <h1 class="qrHeader">QR Code Generator</h1>
            </a>
        </section>
        <section class="tabsSection">
            <div class="tabButtons">
                <button class="tButton" id="textQRButton" onclick="openTab('textQR', 'textQRButton')" style="background-color: var(--surfaceColor);">Text</button>
                <button class="tButton" id="urlQRButton" onclick="openTab('urlQR', 'urlQRButton')">URL</button>
                <button class="tButton" id="vcardQRButton" onclick="openTab('vcardQR', 'vcardQRButton')">vCard</button>
                <button class="tButton" id="wifiQRButton" onclick="openTab('wifiQR', 'wifiQRButton')">WiFi</button>
                <button class="tButton" id="smsQRButton" onclick="openTab('smsQR', 'smsQRButton')">SMS</button>
                <button class="tButton" id="emailQRButton" onclick="openTab('emailQR', 'emailQRButton')">email</button>
                <button class="tButton" id="phoneQRButton" onclick="openTab('phoneQR', 'phoneQRButton')">phone</button>
            </div>
        </section>
        <section class="mainFormSection">
            <div class="tab" id="textQR">
                <form method="post" id="textQR">
                    <textarea type="text" name="textInput" id="textInput" class="textInput" placeholder="Enter text" maxlength="1200"></textarea>
                    <div class="counterDiv" id="counterDiv">
                        <span id="count" class="counter"></span>
                    </div>
                    <!-- <div class="qrColorsDiv">
                    <label class="qrPatternColorLabel" for="qrPatternColor">Pattern</label>
                    <input type="color" id="qrPatternColor" name="qrPatternColor" value="#000000">
                    <label class="qrBGColorLabel" for="qrBGColor">Background</label>
                    <input type="color" id="qrBGColor" name="qrBGColor" value="#FFFFFF">
            </div> -->
                </form>
            </div>
            <div class="tab" id="urlQR" style="display: none">
                <form method="post" id="urlQR" class="urlQR">
                    <input type="url" name="urlInput" id="urlInput" class="urlInput" placeholder="Enter URL" maxlength="1200"></input>
                </form>
            </div>
            <div class="tab" id="vcardQR" style="display: none">
                <form method="post" id="vcardQR" class="vcardQR">
                    <input id="firstName" class="firstName" name="firstName" placeholder="First Name" />
                    <input id="lastName" class="lastName" name="lastName" placeholder="Last Name" />
                    <input id="org" class="org" name="org" placeholder="Organization" />
                    <input id="workTitle" class="workTitle" name="workTitle" placeholder="Work Title" />
                    <input id="workPhoneNumber" class="workPhoneNumber" name="workPhoneNumber" placeholder="Work Number" />
                    <input id="personalPhoneNumber" class="personalPhoneNumber" name="personalPhoneNumber" placeholder="Personal Number" />
                    <input id="email" class="email" name="email" type="email" placeholder="Email" />
                    <input id="website" class="website" name="website" placeholder="Website" />
                    <input id="streetAddress" class="streetAddress" name="streetAddress" placeholder="Address" />
                    <input id="city" class="city" name="city" placeholder="City" />
                    <input id="state" class="state" name="state" placeholder="State" />
                    <input id="zipcode" class="zipcode" name="zipcode" placeholder="Zip Code" />
                    <input id="country" class="country" name="country" placeholder="Country" />
                </form>
            </div>
            <div class="tab" id="wifiQR" style="display: none">
                <form method="post" id="wifiQR" class="wifiQR">
                    <input type="text" name="wifiInput" id="wifiInput" class="wifiInput" placeholder="WiFi Name"></input>
                    <input type="text" name="wifiPasswordInput" id="wifiPasswordInput" class="wifiPasswordInput" placeholder="WiFi Password"></input>
                    <select name="wifiEncryption" id="wifiEncryption" class="wifiEncryption">
                        <option disabled selected>Encryption Type</option>
                        <option value="nopass">No Encryption</option>
                        <option value="WPA">WPA/WPA2 Encryption</option>
                        <option value="WEP">WEP Encryption</option>
                    </select>
                </form>
            </div>
            <div class="tab" id="smsQR" style="display: none;">
                <form method="post" id="smsQR" class="sms">
                    <input type="text" name="phoneNumber" class="phoneNumber" id="phoneNumber" placeholder="Phone Number">
                    <textarea name="messageToSend" class="messageToSend" id="messageToSend" placeholder="Message"></textarea>
                </form>
            </div>
            <div class="tab" id="emailQR" style="display: none;">
                <form method="post" id="emailQR" class="email">
                    <input type="text" name="emailAddress" class="emailAddress" id="emailAddress" placeholder="Email address">
                    <input type="text" name="subject" class="subject" id="subject" placeholder="Email subject">
                    <textarea name="emailToSend" class="emailToSend" id="emailToSend" placeholder="Email body"></textarea>
                </form>
            </div>
            <div class="tab" id="phoneQR" style="display: none;">
                <form method="post" id="phoneQR" class="phone">
                    <input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number">
                </form>
            </div>
            <div class="qrImageSection" id="qrImageSection">
                <img src="" class="qrImg" id="qrImg" alt="Your generated QR code" />
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/simpleqrgen.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXX9EHMBB8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-YXX9EHMBB8');
    </script>
</body>

</html>