<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-PN9F632");
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="”robots”" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Free Online QR Code Generator. Create QR Codes for text, URL, vCard, SMS, WiFi and more. Download QR Codes in high quality resolution." />
  <meta name="title" content="Free Online QR Code Generator" />
  <meta name="keywords"
    content="qr, quick response, qr code, qr code generator, qr generator, generator, url, sms, wifi, vcard, text" />
  <meta name="language" content="English" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png" />
  <link rel="manifest" href="/assets/image/site.webmanifest" />
  <link rel="mask-icon" href="/assets/image/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>QR Code Generator</title>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN9F632" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <main class="mainContent" id="mainContent">

    <section class="mainHeaderSection">
      <div class="darkModeDiv">
        <label class="darkSwitchIcon" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
      <a href="https://www.simpleqrgen.com/">
        <h1 class="qrHeader">
          <img src="/assets/image/siteLogo.svg">
          Simple QR Generator</h1>
      </a>
    </section>

    <section class="tabsSection">
      <button class="tButton" id="textQRButton" onclick="openTab('textQR', 'textQRButton')"
        style="background-color: var(--lightGrayColor)">
        <img src="/assets/image/qrText.svg">
        Text
      </button>
      <button class="tButton" id="urlQRButton" onclick="openTab('urlQR', 'urlQRButton')">
        <img src="/assets/image/qrURL.svg">
        URL
      </button>
      <button class="tButton" id="vcardQRButton" onclick="openTab('vcardQR', 'vcardQRButton')">
        <img src="/assets/image/qrVcard.svg">
        vCard
      </button>
      <button class="tButton" id="wifiQRButton" onclick="openTab('wifiQR', 'wifiQRButton')">
        <img src="/assets/image/qrWiFi.svg">
        WiFi
      </button>
      <button class="tButton" id="smsQRButton" onclick="openTab('smsQR', 'smsQRButton')">
        <img src="/assets/image/qrSMS.svg">
        SMS
      </button>
      <button class="tButton" id="emailQRButton" onclick="openTab('emailQR', 'emailQRButton')">
        <img src="/assets/image/qrEmail.svg">
        Email
      </button>
      <button class="tButton" id="phoneQRButton" onclick="openTab('phoneQR', 'phoneQRButton')">
        <img src="/assets/image/qrPhone.svg">
        Phone
      </button>
      <button class="tButton" id="cryptoQRButton" onclick="openTab('cryptoQR', 'cryptoQRButton')">
        <img src="/assets/image/qrCrypto.svg">
        Crypto
      </button>
    </section>
    <section class="flexContainer">
      <section class="flexItems">
        <section class="mainFormSection">
          <div class="tab" id="textQR">
            <form method="post" id="textQR">
              <textarea type="text" name="textInput" id="textInput" class="textInput textareaField"
                placeholder="Enter text" maxlength="1200" onkeyup="countChar(this)"></textarea>
              <div class="counterDiv" id="counterDiv">
                <span>Characters left: </span>
                <span id="count" class="counter">1200</span>
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="textQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="urlQR" style="display: none;">
            <form method="post">
              <div id="urlQR" class="urlQR">
                <input type="url" name="urlInput" id="urlInput" class="urlInput inputField" placeholder="Enter URL"
                  maxlength="1200" />
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="urlQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="vcardQR" style="display: none">
            <form method="post">
              <div id="vcardQR" class="vcardQR">
                <input id="firstName" class="firstName" name="firstName" placeholder="First Name" />
                <input id="lastName" class="lastName" name="lastName" placeholder="Last Name" />
                <input id="org" class="org" name="org" placeholder="Organization" />
                <input id="workTitle" class="workTitle" name="workTitle" placeholder="Work Title" />
                <input id="workPhoneNumber" class="workPhoneNumber" name="workPhoneNumber" placeholder="Work Number" />
                <input id="personalPhoneNumber" class="personalPhoneNumber" name="personalPhoneNumber"
                  placeholder="Personal Number" />
                <input id="email" class="email" name="email" type="email" placeholder="Email" />
                <input id="url" class="url" name="url" placeholder="URL" />
                <input id="streetAddress" class="streetAddress" name="streetAddress" placeholder="Address" />
                <input id="city" class="city" name="city" placeholder="City" />
                <input id="state" class="state" name="state" placeholder="State" />
                <input id="zipcode" class="zipcode" name="zipcode" placeholder="Zip Code" />
                <input id="country" class="country" name="country" placeholder="Country" />
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="vcardQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="wifiQR" style="display: none">
            <form method="post">
              <div id="wifiQR" class="wifiQR">
                <input type="text" name="wifiInput" id="wifiInput" class="wifiInput inputField"
                  placeholder="WiFi Name" />
                <input type="text" name="wifiPasswordInput" id="wifiPasswordInput" class="wifiPasswordInput inputField"
                  placeholder="WiFi Password" />
                <select name="wifiEncryption" id="wifiEncryption" class="wifiEncryption inputField">
                  <option value="WPA" selected>WPA/WPA2 Encryption</option>
                  <option value="WEP">WEP Encryption</option>
                  <option value="nopass">No Encryption</option>
                </select>
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="wifiQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="smsQR" style="display: none">
            <form method="post">
              <div id="smsQR" class="sms">
                <input type="text" name="phoneNumber" class="phoneNumber inputField" id="phoneNumber"
                  placeholder="Phone Number" />
                <textarea name="messageToSend" class="messageToSend textareaField" id="messageToSend"
                  placeholder="Message"></textarea>
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="smsQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="emailQR" style="display: none">
            <form method="post">
              <div id="emailQR" class="email">
                <input type="text" name="emailAddress" class="emailAddress inputField" id="emailAddress"
                  placeholder="Email address" />
                <input type="text" name="subject" class="subject inputField" id="subject" placeholder="Email subject" />
                <textarea name="emailToSend" class="emailToSend textareaField" id="emailToSend"
                  placeholder="Email body"></textarea>
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="emailQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="phoneQR" style="display: none">
            <form method="post">
              <div id="phoneQR" class="phone">
                <input type="text" name="phone" class="phone inputField" id="phone" placeholder="Phone Number" />
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="phoneQRFunction();">Generate</button>
            </form>
          </div>
          <div class="tab" id="cryptoQR" style="display: none">
            <form method="post">
              <div id="cryptoQR" class="crypto">
                <select name="cryptoList" id="cryptoList" class="cryptoList inputField">
                  <option value="bitcoin" selected>Bitcoin</option>
                  <option value="bitcoincash">Bitcoin Cash</option>
                  <option value="ethereum">Ethereum</option>
                  <option value="dogecoin">Dogecoin</option>
                  <option value="litecoin">Litecoin</option>
                  <option value="dash">Dash</option>
                  <option value="monero">Monero</option>
                  <option value="cardano">Cardano</option>
                </select>
                <input type="text" name="cryptoAddress" class="cryptoAddress inputField" id="cryptoAddress"
                  placeholder=" Crypto Address" />
                <input type="number" name="cryptoAmount" class="cryptoAmount inputField" id="cryptoAmount"
                  placeholder="Amount" />
                <textarea name="cryptoMessage" class="cryptoMessage textareaField" id="cryptoMessage"
                  placeholder="Message"></textarea>
              </div>
              <button type="button" id="qrBtn" class="qrBtn" onclick="cryptoQRFunction();">Generate</button>
            </form>
          </div>
        </section>
        <section class="modSection" id="modSection">
          <button class="accordion">Size Options</button>
          <div class="modTab" style="display: grid;">
            <label for="width">Width</label>
            <input type="number" name="width" id="width" min="100" max="10000" value="1000">

            <label for="height">Height</label>
            <input type="number" name="height" id="height" min="100" max="10000" value="1000">

            <label for="margin">Margin</label>
            <input type="number" name="margin" id="margin" min="0" max="10000" value="0">
          </div>

          <button class="accordion">Dots Options</button>
          <div class="modTab">
            <div class="dotsOptionsSelectionWrapper" style="display: grid;">
              <label for="dotsOptionsType">Dots Type</label>
              <select id="dotsOptionsType" name="dotsOptionsType">
                <option value="square" selected="">Square</option>
                <option value="dots">Dots</option>
                <option value="rounded">Rounded</option>
                <option value="extra-rounded">Extra rounded</option>
                <option value="classy">Classy</option>
                <option value="classy-rounded">Classy rounded</option>
              </select>

              <label>Color Type</label>
              <select id="dotsOptionsColorType" name="dotsOptionsColorType" onchange="dotsOptionsSwitchColorType();">
                <option value="single">Single color</option>
                <option value="gradient">Gradient Color</option>
              </select>
            </div>

            <div id="dotsOptionSingleWrapper" style="visibility: visible; height: auto; display: grid;">
              <label for="dotsOptionsSingleColor" id="dotsOptionSingleColorLabel">Dots
                Color</label>
              <div id="dotsOptionSingleColorDiv">
                <input type="color" name="dotsOptionsSingleColor" id="dotsOptionsSingleColor" value="#000000">
              </div>
            </div>

            <div id="dotsOptionGradientWrapper" style="visibility: hidden; height: 0px; display: grid;">
              <label id="dotsOptionGradientTypeLabel">Gradient Type</label>
              <select id="dotsOptionsGradientSelect" name="dotsOptionsGradientSelect">
                <option value="linear">Linear</option>
                <option value="radial">Radial</option>
              </select>

              <label id="dotsOptionGradientColorsLabel">Dots Gradient</label>
              <div id="dotsOptionGradientColorsDiv">
                <input type="color" name="dotsOptionsGradientColorOne" id="dotsOptionsGradientColorOne" value="#FF0000">
                <input type="color" name="dotsOptionsGradientColorTwo" id="dotsOptionsGradientColorTwo" value="#0000FF">
              </div>

              <label id="dotsOptionsGradientRotationLabel">Rotation</label>
              <div id="dotsOptionsGradientRotationDiv">
                <input type="number" name="dotsOptionsGradientRotation" id="dotsOptionsGradientRotation" min="0"
                  max="360" value="0">
              </div>
            </div>
          </div>

          <button class="accordion">Corner Square Options</button>
          <div class="modTab">
            <div class="cornersSquareOptionsSelectionWrapper" style="display: grid;">
              <label for="cornersSquareOptionsType">Dots Type</label>
              <select id="cornersSquareOptionsType" name="cornersSquareOptionsType">
                <option value="square" selected>Square</option>
                <option value="dot">Dot</option>
                <option value="extra-rounded">Extra rounded</option>
                <option value="">None</option>
              </select>

              <label>Color Type</label>
              <select id="cornersSquareOptionsColorType" name="cornersSquareOptionsColorType"
                onchange="cornersSquareOptionsSwitchColorType();">
                <option value="single">Single color</option>
                <option value="gradient">Gradient Color</option>
              </select>
            </div>

            <div id="cornersSquareOptionsSingleWrapper" style="visibility: visible; height: auto; display: grid;">
              <label for="cornersSquareOptionsSingleColor" id="cornersSquareOptionsingleColorLabel">Dots
                Color</label>
              <div id="cornersSquareOptionsingleColorDiv">
                <input type="color" name="cornersSquareOptionsSingleColor" id="cornersSquareOptionsSingleColor"
                  value="#000000">
              </div>
            </div>

            <div id="cornersSquareOptionsGradientWrapper" style="visibility: hidden; height: 0; display: grid;">
              <label id="cornersSquareOptionsGradientTypeLabel">Gradient Type</label>
              <select id="cornersSquareOptionsGradientSelect" name="cornersSquareOptionsGradientSelect">
                <option value="linear">Linear</option>
                <option value="radial">Radial</option>
              </select>

              <label id="cornersSquareOptionsGradientColorsLabel">Dots Gradient</label>
              <div id="cornersSquareOptionsGradientColorsDiv">
                <input type="color" name="cornersSquareOptionsGradientColorOne"
                  id="cornersSquareOptionsGradientColorOne" value="#FF0000">
                <input type="color" name="cornersSquareOptionsGradientColorTwo"
                  id="cornersSquareOptionsGradientColorTwo" value="#0000FF">
              </div>

              <label id="cornersSquareOptionsGradientRotationLabel">Rotation</label>
              <div id="cornersSquareOptionsGradientRotationDiv">
                <input type="number" name="cornersSquareOptionsGradientRotation"
                  id="cornersSquareOptionsGradientRotation" min="0" max="360" value="0">
              </div>
            </div>
          </div>

          <button class="accordion">Corner Dot Options</button>
          <div class="modTab">
            <div class="cornersDotOptionsSelectionWrapper" style="display: grid;">
              <label for="cornersDotOptionsType">Dots Type</label>
              <select id="cornersDotOptionsType" name="cornersDotOptionsType">
                <option value="" selected=>None</option>
                <option value="square">Square</option>
                <option value="dot">Dot</option>
              </select>

              <label>Color Type</label>
              <select id="cornersDotOptionsColorType" name="cornersDotOptionsColorType"
                onchange="cornersDotOptionsSwitchColorType();">
                <option value="single">Single color</option>
                <option value="gradient">Gradient Color</option>
              </select>
            </div>

            <div id="cornersDotOptionsSingleWrapper" style="visibility: visible; height: auto; display: grid;">
              <label for="cornersDotOptionsSingleColor" id="cornersDotOptionsingleColorLabel">Dots
                Color</label>
              <div id="cornersDotOptionsingleColorDiv">
                <input type="color" name="cornersDotOptionsSingleColor" id="cornersDotOptionsSingleColor"
                  value="#000000">
              </div>
            </div>

            <div id="cornersDotOptionsGradientWrapper" style="visibility: hidden; height: 0; display: grid;">
              <label id="cornersDotOptionsGradientTypeLabel">Gradient Type</label>
              <select id="cornersDotOptionsGradientSelect" name="cornersDotOptionsGradientSelect">
                <option value="linear">Linear</option>
                <option value="radial">Radial</option>
              </select>

              <label id="cornersDotOptionsGradientColorsLabel">Dots Gradient</label>
              <div id="cornersDotOptionsGradientColorsDiv">
                <input type="color" name="cornersDotOptionsGradientColorOne" id="cornersDotOptionsGradientColorOne"
                  value="#FF0000">
                <input type="color" name="cornersDotOptionsGradientColorTwo" id="cornersDotOptionsGradientColorTwo"
                  value="#0000FF">
              </div>

              <label id="cornersDotOptionsGradientRotationLabel">Rotation</label>
              <div id="cornersDotOptionsGradientRotationDiv">
                <input type="number" name="cornersDotOptionsGradientRotation" id="cornersDotOptionsGradientRotation"
                  min="0" max="360" value="0">
              </div>
            </div>
          </div>

          <button class="accordion">Background Options</button>
          <div class="modTab">
            <div class="backgroundOptionsSelectionWrapper" style="display: grid;">
              <label>Color Type</label>
              <select id="backgroundOptionsColorType" name="backgroundOptionsColorType"
                onchange="backgroundOptionsSwitchColorType();">
                <option value="single">Single color</option>
                <option value="gradient">Gradient Color</option>
              </select>
            </div>

            <div id="backgroundOptionsSingleWrapper" style="visibility: visible; height: auto; display: grid;">
              <label for="backgroundOptionsSingleColor" id="backgroundOptionsingleColorLabel">Dots
                Color</label>
              <div id="backgroundOptionsingleColorDiv">
                <input type="color" name="backgroundOptionsSingleColor" id="backgroundOptionsSingleColor"
                  value="#ffffff">
              </div>
            </div>

            <div id="backgroundOptionsGradientWrapper" style="visibility: hidden; height: 0; display: grid;">
              <label id="backgroundOptionsGradientTypeLabel">Gradient Type</label>
              <select id="backgroundOptionsGradientSelect" name="backgroundOptionsGradientSelect">
                <option value="linear">Linear</option>
                <option value="radial">Radial</option>
              </select>

              <label id="backgroundOptionsGradientColorsLabel">Dots Gradient</label>
              <div id="backgroundOptionsGradientColorsDiv">
                <input type="color" name="backgroundOptionsGradientColorOne" id="backgroundOptionsGradientColorOne"
                  value="#FF0000">
                <input type="color" name="backgroundOptionsGradientColorTwo" id="backgroundOptionsGradientColorTwo"
                  value="#0000FF">
              </div>

              <label id="backgroundOptionsGradientRotationLabel">Rotation</label>
              <div id="backgroundOptionsGradientRotationDiv">
                <input type="number" name="backgroundOptionsGradientRotation" id="backgroundOptionsGradientRotation"
                  min="0" max="360" value="0">
              </div>
            </div>
          </div>

          <button class="accordion">Logo Options</button>
          <div class="modTab" style="display: grid;">
            <label for="logo">Upload logo</label>
            <div>
              <input type="file" id="logo" class="logo" name="logo" accept="image/png, image/gif, image/jpeg">
              <button type="button" class="clearLogoButton" onclick="clearLogo();">Clear Logo</button>
              <img src="" id="logoPreview" class="logoPreview">
            </div>

            <label>Hide Background Dots</label>
            <select id="imageOptionsHideBackgroundDots" name="imageOptionsHideBackgroundDots">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>

            <label for="imageOptionsImageSize">Logo Size</label>
            <input type="number" name="imageOptionsImageSize" id="imageOptionsImageSize" min="0" max="1" value="0.4"
              step="0.1">

            <label for="imageOptionsMargin">Margin</label>
            <input type="number" name="imageOptionsMargin" id="imageOptionsMargin" min="0" max="10000" value="0">
          </div>

          <button class="accordion">Other Options</button>
          <div class="modTab" style="display: grid;">
            <label for="qrOptionsTypeNumber">Type Number</label>
            <input type="number" name="qrOptionsTypeNumber" id="qrOptionsTypeNumber" min="0" max="40" value="0">

            <label for="qrOptionsMode">Mode</label>
            <select id="qrOptionsMode" name="qrOptionsMode">
              <option value="Numeric">Numeric</option>
              <option value="Alphanumeric">Alphanumeric</option>
              <option value="Byte" selected="">Byte</option>
              <option value="Kanji">Kanji</option>
            </select>

            <label for="qrOptionsErrorCorrectionLevel">Error Correction Level</label>
            <select id="qrOptionsErrorCorrectionLevel" name="qrOptionsErrorCorrectionLevel">
              <option value="L">L</option>
              <option value="M">M</option>
              <option value="Q">Q</option>
              <option value="H" selected="">H</option>
            </select>
          </div>
        </section>
      </section>
      <section class="flexItems">
        <section class="qrImgSection">
          <div class="qrImageSection" id="qrImageSection">
            <img src="" class="qrImg" id="qrImg" />
            <a href="" id="qrImgDownload" class="qrImgDownload" download="MyQRCode.jpg" style="display: none">
              <h1>Download</h1>
            </a>
          </div>
        </section>
      </section>
    </section>
  </main>
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/js/simpleqrgen.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXX9EHMBB8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-YXX9EHMBB8");
  </script>
</body>

</html>